@charset "UTF-8";

body{
    font-size: 20px;
    color: silver;
    background-color: black;
    text-align: center;
}

a{
    color: goldenrod;
    text-decoration: none;
}

a:hover{
    color: gold;
}

hr{
    opacity: 0.5;
}

p{
    line-height: 150%;
    margin: 0 auto;
}

input {
    font-size: 1rem;
    color: #eeeeee;
    background-color: #333333;
}

textarea {
    font-size: 1rem;
    color: #eeeeee;
    background-color: #333333;
}

div.containter{
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

div.comment{
    margin: 50px auto 20px;
}

div.text{
    margin: 20px auto;
}

div.form_box{
    margin: 50px auto;
}

div.form{
    margin: 20px auto;
}

label{
    display: flex;
}

span.form{
    display: block;
    width: 130px;
}

span.name{
    font-weight: bold;
    color: goldenrod;
}

input.comment{
    width: 720px;
}

textarea.comment{
    width: 720px;
    height: 500px;
}

button.submit{
    color: #eeeeee;
    background-color: #333333;
    width: 200px;
    text-align: center;
    margin: 0 auto 0 390px;
}